<div class="content">
        {% for post in site.posts %}
        <article>
                
                    <a href="{{ post.url | relative_url }}" class="article-title">{{ post.title }}</a>
                    <div class="separator"></div>
                    <p class="article-info">{{ post.date | date: "%d %B %Y" }}</p>
                    <img src="assets/article1.jpg" alt="Image de l'article 1">
                    <p class="summary">{{ post.excerpt }}</p>
        </article>
            {% endfor %}
    </div>
