<div class="content">
    
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Rechercher...">
    </div>

        <div id="post-list">
            {% for post in site.posts %}
            <article class="post" data-tags="{{ post.tags | join: ' ' }}" style="display:none;">
                
                <a href="{{ post.url | relative_url }}" class="article-title">{{ post.title }}</a>
                <div class="separator"></div>
                <p class="article-info">{{ post.date | date: "%d %B %Y" }}</p>
                
                {% assign image_found = false %}
                {% assign content_blocks = post.content | split: '<img' %}
                {% if content_blocks.size > 1 %}
                {% assign first_image = content_blocks[1] | split: '>' | first %}
                <img{{ first_image }}>
                {% endif %}
                
                {% assign excerpt = post.content | strip_html | truncatewords: 30 %}
                <p class="summary">{{ excerpt }}</p>
            
            </article>
            {% endfor %}
        </div>

        <div class="pagination">
            <a href="#" id="prev">&laquo; Précédent</a>
            <a href="#" id="next">Suivant &raquo;</a>
        </div>
    </div>
