<div class="content">
        {% for post in paginator.posts %}
        <article>
            
            <a href="{{ post.url | relative_url }}" class="article-title">{{ post.title }}</a>
            <div class="separator"></div>
            <p class="article-info">{{ post.date | date: "%d %B %Y" }}</p>
            
            {% assign first_image_regex = '<img [^>]*src="([^"]*)"[^>]*>' %}
                {% assign first_image_match = post.content | replace_regex: first_image_regex, '$1' %}
                {% assign first_image_url = first_image_match | split: ' ' | first %}
                {% if first_image_url != post.content %}
                  <img src="{{ first_image_url }}" alt="{{ post.title }}" />
            {% endif %}
            
            {% assign excerpt = post.content | strip_html | truncatewords: 30 %}
            <p class="summary">{{ excerpt }}</p>
            </p>
        </article>
        {% endfor %}
        <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Précédent</a>
                {% endif %}
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | relative_url }}">Suivant &raquo;</a>
                {% endif %}
            </div>
    </div>
