<aside class="sidebar">
    <div class="profil">
    <img src="{{ "assets/profil.png" | relative_url }}" alt="profil">
    <p class="sidebar_title">Ben</p>
    <p class="info">Entrepreneur dans la tech et passionné d'Apple, je m'appuie sur mon expertise en innovation et en design produit pour explorer divers domaines tels que le self-growth, le minimalisme et la tech en général.<br><br>Pour me contacter, envoyez-moi un message privé sur Instagram.</p>
    </div>
    <div class="separator_sidebar"></div>
    <p class="sidebar_title">CATÉGORIES</p>
        <div id="tag-list">
            {% for tag in site.tags %}
            <input type="checkbox" id="{{ tag[0] }}" name="{{ tag[0] }}" value="{{ tag[0] }}">
            <label for="{{ tag[0] }}">{{ tag[0] }}</label>
            {% endfor %}
        </div>
</aside>
