<aside class="sidebar">
    <div class="profil">
    <img src="{{ "assets/profil.png" | relative_url }}" alt="profil">
    <p class="name">Ben</p>
    <p class="info">Entrepreneur dans la tech, coach et auteur dans les domaines du minimalisme et du développement personnel.<br><br>Je vous aide à trouver les outils qui vous sont utiles pour vous et vous seul !<br><br>Le minimalisme n'est pas une mode ou un but à atteindre, mais un bon outil pour entreprendre et optimiser sa vie.<br><br>Pour me contacter, envoyez-moi un message privé sur Instagram.</p>
    </div>
    
    <div class="filter">
      <select id="tagFilter">
        <option value="">Tous les tags</option>
        {% for tag in site.tags %}
          <option value="{{ tag[0] }}">{{ tag[0] }}</option>
        {% endfor %}
      </select>
    </div>
    
    
    <input type="hidden" id="filteredPosts" value="{% for post in site.posts %}{{ post.url | relative_url }}|{{ post.title }}|{{ post.date | date: "%d %B %Y" }}|{{ post.content | strip_html | truncatewords: 30 }}|{{ post.tags | join: ' ' }}{% unless forloop.last %}|||{% endunless %}{% endfor %}">
</aside>
