/*css*/
/*-----------------------------------


gold color: #947B37





------------------------------------- */

post .thumbnail {
    display: none;
}

post h1 {
  color: grey;
}

.fin {
	margin-bottom: 50px;
}