/*css*/
/*-----------------------------------


gold color: #947B37


------------------------------------- */

/* Titre */
.p1 {
	font-size: 1.2rem !important;
	font-weight: 200 !important;
}


/* Liste à puce */
li {    
    font-family: 'Lora', sans-serif;
    font-weight: 400; /* Définit l'épaisseur de la police */
    color: #404040; /* Couleur du texte */
    margin-left: 50px !important;
}


.Apple-tab-span {
    margin-left: 50px !important;
}


table {
	width: 100%;
	border-collapse: collapse;
}

table {
	border-color: #ccc; 
}

th, td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ccc;
}

th {
	background-color: #f2f2f2;
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #f5f3eb;
}

tr:hover {
	background-color: #eaeaea;
}




