.logo {
    width: 200px;
    height: 300px;
    margin: auto;
}

.logotitle {
    margin: auto;
}

.catchtitle {
    margin: auto;
}

.bardivider {
    width: 80%; /* largeur de la barre */
    height: 1px; /* hauteur de la barre */
    background-color: #ccc; /* couleur de fond de la barre */
    margin: auto;
}


#sidebar {
    float:left;

}

#postslist {
    float:right;
}

#footer {
    float: none;
    
}
