body {
  font-family: "Montserrat", sans-serif;
}

/* Site branding */
#site-branding {
    text-align:center;
}

.logo {
    position:relative;
    max-width: 100%;
    width: 100px;
    height: auto;
    margin-bottom: -10px;
}

.logotitle {
    font-size: 2.4rem;
    font-family: "Lato",
    sans-serif;line-height: 1;
    text-transform: uppercase;
}

.catchtitle {
    font-style: normal;
    font-weight: 400;
    font-size: .667rem;
    letter-spacing: .2em;
    margin: 0;
    text-transform: uppercase;
}

/* Menu */
.bardivider {
    width: 80%; /* largeur de la barre */
    height: 1px; /* hauteur de la barre */
    background-color: #ccc; /* couleur de fond de la barre */
    margin: auto;
}


nav {
    text-align:center;
}

ul {
    list-style:none;
}

li {
    display: inline-block;
    margin-right:20px;
}

/* Body */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#postslist {
    width: 70%;
}

#sidebar {
    width: 30%;

}

/* Footer */

#footer {
    float: none;
    
}



/*color gold  #947B37*/
