/* Reset CSS */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #FFF;
    max-width: 1040px;
    margin: 0 auto;
    position: relative;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.logo img {
    display: block;
    width: 100px;
    margin-bottom: 5px;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 2.4rem; /* Définit la taille de la police */
    font-weight: 400; /* Définit l'épaisseur de la police */
    letter-spacing: .02em; /* Espacement des lettres */
    text-transform: uppercase; /* Transforme le texte en majuscules */
    color: #947B37; /* Couleur du texte */
    text-align: center; /* Centrer le texte horizontalement */
    margin: 0 0 10px; /* Marge */
    line-height: 1; /* Hauteur de ligne pour l'espacement vertical du texte */

}

.subtitle {
    font-family: 'Lora', serif;
    font-size: .66rem;
    letter-spacing: .2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400; /* Définit l'épaisseur de la police */
    
        color: #404040; /* Couleur du texte */
        text-align: center; /* Centrer le texte horizontalement */
        line-height: 1; /* Hauteur de ligne pour l'espacement vertical du texte */
        margin-bottom: 50px;
}

nav {
    display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        padding: 10px 0;
        width: 100%;
        left: 0;
        z-index: 1;
}

nav a {
    font-family: 'Montserrat';
    font-weight: 100!important;
    color: #161616;
    text-align: center;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05em;
    margin: 5px 20px 5px 20px;
}

nav a:hover {
    color: #947B37;
}

/* Contenu principal */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.content {
    flex: 3;
    margin: 0 120px 0 0px;
}

article {
    margin-bottom: 50px;
    border-bottom: solid 1px #ebebeb;
}

article:last-child {
    border-bottom: none;
}

.article-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400; /* Définit l'épaisseur de la police */
    letter-spacing: .02em; /* Espacement des lettres */
    text-transform: uppercase; /* Transforme le texte en majuscules */
    color: #404040; /* Couleur du texte */
 text-align: center;
    margin: 0 0 5px 0; /* Marge */
}

.article-title a:hover {
    color: #947B37;
}

.separator {
    width: 24px;
    height: 2px;
    background-color: #161616;
    margin: 10px auto 15px;
}

.article-info {
    font-family: 'Lora', serif;
    font-size: .66rem;
    letter-spacing: .1em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400; /* Définit l'épaisseur de la police */
    
    color: #404040; /* Couleur du texte */
    text-align: center; /* Centrer le texte horizontalement */
    line-height: 1; /* Hauteur de ligne pour l'espacement vertical du texte */
    margin-bottom: 20px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

p.summary {
    font-family: 'Lora', serif !important;
    font-size: .96em !important;
    line-height: 1.625em !important;
    letter-spacing: 0em !important;
    font-weight: 400 !important; /* Définit l'épaisseur de la police */
    color: #404040 !important; /* Couleur du texte */
    margin-bottom: 20px !important;
}

/* Sidebar */
.sidebar {
    flex: 1;
}

.profil {
    
}

p.name {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    line-height: 1;
    font-weight: 600; /* Définit l'épaisseur de la police */
    color: #404040; /* Couleur du texte */
    text-align:center;
    margin: 20px 0 20px 0px;
}

p.info {
    font-family: 'Lora', sans-serif;
    font-size: .9rem;
    line-height: 1;
    font-weight: 400; /* Définit l'épaisseur de la police */
    color: #404040; /* Couleur du texte */
    text-align:center;
    margin: 20px 0 20px 0px;
}

.sidebar img {
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto 20px;
}

.pagination {
    font-family: 'Montserrat';
    font-weight: 100!important;
    color: #161616;
    text-align: center;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05em;
    margin: 5px 20px 5px 20px;
}

.pagination a:hover {
    color: #947B37;
}

#prev a {
    font-family: 'Montserrat';
    font-weight: 100!important;
    color: #161616;
    text-align: center;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05em;
    margin: 5px 20px 5px 20px;
}

#next a {
    font-family: 'Montserrat';
    font-weight: 100!important;
    color: #161616;
    text-align: center;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .05em;
    margin: 5px 20px 5px 20px;
}


footer {
    border-top: solid 1px #ebebeb;
    height:100px;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        margin:30px;
    }
    main {
        flex-direction: column;
    }

    .content {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


/*SEARCH BAR*/
/* Conteneur pour la barre de recherche */
.search-container {
  display: flex;
  justify-content: center; /* Centre la barre de recherche horizontalement */
  margin-bottom: 50px; /* Ajoute de l'espace sous la barre de recherche */
}

/* Barre de recherche */
#search-input {
  width: 100%; /* Largeur de la barre de recherche */
  max-width: 600px; /* Largeur maximale de la barre de recherche */
  padding: 10px 0px 10px 20px; /* Espacement interne de la barre de recherche */
  border: 1px solid #ccc; /* Bordure de la barre de recherche */
  border-radius: 5px; /* Arrondit les coins de la barre de recherche */
  font-size: 16px; /* Taille du texte dans la barre de recherche */
  outline: none; /* Supprime l'effet de mise au point par défaut du navigateur */
}

/* Effet de mise au point pour la barre de recherche */
#search-input:focus {
  border-color: #947B37; /* Couleur de la bordure lorsque la barre de recherche est mise au point */
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.25); /* Ombre portée lorsque la barre de recherche est mise au point */
}

/* Effet de survol pour la barre de recherche */
#search-input:hover {
  border-color: #947B37; /* Couleur de la bordure lorsque la barre de recherche est survolée */
}

/* TAG LIST*/
/* Conteneur pour la liste des tags */
#tag-list {
  display: flex;
  flex-direction: column; /* Organise les tags les uns en dessous des autres */
  align-items: flex-start; /* Alignement des tags à gauche */
  margin-bottom: 20px; /* Ajoute de l'espace sous la liste des tags */
}

/* Style pour les cases à cocher et les labels */
#tag-list input[type=checkbox] {
  display: none; /* Masque les cases à cocher par défaut */
}

#tag-list label {
  display: inline-block;
  padding: 1px 0px 1px 35px; /* Espacement interne pour les labels */
  margin-bottom: 8px; /* Espacement entre les labels */
  font-size: 14px; /* Taille du texte pour les labels */
  border-radius: 12px; /* Arrondit les coins des labels */
  cursor: pointer; /* Change le curseur en main lors du survol des labels */
  background-color: transparent; /* Couleur d'arrière-plan des labels */
  position: relative; /* Nécessaire pour positionner les cases à cocher personnalisées */
}

/* Cases à cocher personnalisées */
#tag-list label:before {
  content: ""; /* Contenu vide pour générer l'élément */
  display: inline-block;
  width: 16px; /* Largeur de la case à cocher personnalisée */
  height: 16px; /* Hauteur de la case à cocher personnalisée */
  border: 2px solid #404040; /* Bordure de la case à cocher personnalisée */
  border-radius: 50%; /* Rend la case à cocher personnalisée ronde */
  margin-right: 8px; /* Espacement entre la case à cocher personnalisée et le texte du label */
  vertical-align: middle; /* Alignement vertical avec le texte du label */
  position: absolute; /* Positionnement absolu par rapport au label */
  left: 4px; /* Positionnement horizontal de la case à cocher personnalisée */
  top: 50%; /* Positionnement vertical de la case à cocher personnalisée */
  transform: translateY(-50%); /* Centre la case à cocher personnalisée verticalement */
}

/* Style pour les cases à cocher cochées */
#tag-list input[type=checkbox]:checked + label:before {
  background-color: #947B37; /* Couleur d'arrière-plan de la case à cocher cochée */
  border 3px solid #FFF:
  border-radius:50%;
}

/* Ajout du signe + pour les cases à cocher cochées */
#tag-list input[type=checkbox]:checked + label::after {
  content: "+"; /* Contenu du signe + */
  display: inline-block;
  position: absolute; /* Positionnement absolu par rapport au label */
  left: 6px; /* Positionnement horizontal du signe + */
  top: 50%; /* Positionnement vertical du signe + */
  transform: translateY(-50%); /* Centre le signe + verticalement */
  font-size: 12px; /* Taille du texte du signe + */
  color: white; /* Couleur du texte du signe + */
}





/*color gold  #947B37*/

